<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
        <i class="icon-map"></i>Lista empresas
    </div>
    <div class="card-body">
      <p [hidden]="empresas?.total" class="text-muted text-center">Não há empresas cadastradas</p>
      <table [hidden]="!empresas?.total" class="table table-hover table-sm">
        <thead>
          <tr>
            <th style="width: 30%" scope="col">Empresa</th>
            <th style="width: 30%" scope="col">Endereço</th>
            <th style="width: 30%" scope="col">Telefones</th>
            <th style="width: 10%" scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr [ngClass]="empresa.ativo == 0 ? 'inativa' : null" *ngFor="let empresa of empresas?.data">
            <td style="width: 30%"><span class="text-nowrap" style="width: 15rem; display: block;">{{ empresa?.nome }}</span></td>
            <td style="width: 30%"><span class="text-nowrap" style="width: 15rem; display: block;">{{ empresa?.endereco }}</span></td>
            <td style="width: 30%"><span class="text-nowrap" style="width: 15rem; display: block;">{{ empresa?.telefones }}</span></td>
            <td style="width: 10%">
              <button (click)="editar(empresa)" class="btn btn-sm btn-warning mr-1"><i class="fa fa-pencil"></i></button>
              <button (click)="deletar(empresa)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <nav [hidden]="!empresas?.total" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="prev()" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="next()" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
