<ng-progress></ng-progress>
<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.jpg', width: 70, height: 25, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.jpg', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" routerLink="/guia-comercial">Guia comercial</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" routerLink="/noticias">Nóticias</a>
    </li>
  </ul>
  <ul class="ml-auto">
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main mt-4">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="true" [display]="false">
    <ul class="list-group">
        <a href="javascript:void(0)" (click)="logout()" class="list-group-item list-group-item-action">Sair</a>
    </ul>
  </app-aside>
</div>
<app-footer>
  <span><a href="http://portaldoguia.com.br">Developer Wedson Santos</a> &copy; 2018 Criado.</span>
  <span class="ml-auto">Todos os direitos reservados <a href="http://portaldoguia.com.br">Portal do guia</a></span>
</app-footer>
